<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <%= div_for post do %>
    <%= post.title %><br/>
    <%= post.body %><br/>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    <%= button_to 'Remote Destroy', post, :confirm => 'Are you sure?', :method => :delete, :remote => true %>
 	<% end %>
<% end %>

<%= link_to 'New Post', new_post_path %>
